<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{app.request.getbaseurl}}/assets/css/styles.css">
        <title></title>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Hair Salon Manager</h1>
            </header>
            <h4 class="back_link">Go back to <a href="/">Stylist Page</a></h4>

            <div id="stylist_client_list"class="well">
                <h3>Future Stylist Name</h3>
                <h4>future number</h4>
                <h4>future workdays</h4>
                -
                <h4>future client listing</h4>
                <h5>future client phone</h5>
                <br>
                <h4>future client listing2</h4>
                <h5>future client phone</h5>
                <br>
                <h4>future client listing3</h4>
                <h5>future client phone</h5>
                <br>

            </div>

        </div>
    </body>
</html>
