<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{app.request.getbaseurl}}/assets/css/styles.css">
        <title>Hair Salon Manager</title>
    <body>
        <div class="container">
            <header>
                <h1>Hair Salon Manager</h1>
            </header>

            <h3>Your edit has been completed</h3>
            <h4 class="back_link">Go back to <a href="/">Add a Stylist</a> Page</h4>


        </div>

    </body>
</html>
