<!DOCTYPE html>
<html>
    <head>
        <title>Stylists</title>
    </head>
    <body>
        <div class="container">


            <p>Add a new Stylist:</p>


                <form action="/stylists" method="post">
                    <div class="form-group">
                        <label for="stylist_name">Add a Stylist</label><br>
                        <input class="form-control" id="stylist_name" type="text" name="stylist_name" required>
                    </div>
                    <div class="form-group">
                        <label for="stylist_phone_number">Phone Number</label><br>
                        <input class="form-control" id="stylist_phone_number" type="text" name="stylist_phone_number">
                    </div>
                    <div class="form-group">
                        <label for="workdays">Workdays</label><br>
                        <input class="form-control" id="workdays" type="text" name="workdays">
                    </div>
                    <button class="btn" type="submit">Add Stylist!</button>
                </form>

                {% if stylists is not empty %}
                    <p>Here are your Stylists:</p>
                    <ul>
                        {% for stylist in stylists %}
                        <li><a href="/stylist/{{stylist.getId}}">{{ stylist.getName }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <br>
                    <p>Add some stylists, dummy!</p>
                {% endif %}

                <br>
                <form action="/delete_stylists" method="post">
                    <button class="btn" type="submit">Delete All Stylists</button>
                </form>
                <br>
        </div>

    </body>
</html>
